//MEAL LAYOUT STYLES

.flex-mealImg{
	display: flex;
	width: 30%;
	padding: 10px;

}

.flex-mealInfo {
	display: flex;
	width: 70%;
	flex-direction: column;
	padding-top: 10px;
	text-align: left;
	justify-content: space-between;
	padding-bottom: 1%;
}

.breakfast, .lunch, .snack, .dinner {
	display: flex;
	background: white; 
}

.recipeUrl {
	text-decoration: none;
	font-size: 3rem;
	font-family:'Quicksand', sans-serif;
}


.flex-mealLinks {
	display: flex;
	justify-content: space-between;
	padding-right: 4%;

	a {
		font-size: 2.5rem;
		text-decoration: none;
		color: $downy;
	}

}

.flex-mealLinks a:hover {
	color: red;
	text-decoration:underline;
}
.dayName {
	padding:20px 0;
	border-bottom: 1px solid white;
	a {
		float:right;
		font-size:3rem;
		color:white;
		position:relative;
		right:73px;
	}
}











