// menu styles

.wrapperMeals {
	width: 60%;
	max-width: 900px;
	margin: 4rem auto 1rem auto;
}

.wrapperMeals img {
	width: 100%;
}

.dayName {
	background: $sanmarino;
	color: white;
	text-align: left;
	padding: 2rem;
	border-bottom: 1px solid white;
}

.dayNameSun {
	border-bottom: none;
}

.dayName a {
	float: right;
	font-size: 2.8rem;
	color: white;
	position: relative;
}

.meal {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background: white;
	border-bottom: 1px solid rgba(200,200,200,1);
	padding-right: 1.6rem;
}

.dinner {
	border-bottom: none;
}

.dinnerSun {
	border-bottom: 1px solid rgba(200,200,200,1);
}

.flex-mealImg {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 30%;
	padding: 1rem;
}

.flex-mealInfo {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 70%;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-ms-justify-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 1rem 0 1rem 0.5rem;
	text-align: left;
}

.recipeUrl {
	text-decoration: none;
	font-size: 2.4rem;
	font-family:'Quicksand', sans-serif;
	color: $sanmarino;
}

.recipeUrl:hover {
	color: darken($sanmarino, 10%);
}

.recipeIngredients {
	padding-right: 3rem;
}

.flex-mealLinks {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-justify-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	a {
		font-size: 2rem;
		text-decoration: none;
		color: $downy;
	}
	a.email {
		font-size: 1.2rem;
		text-transform: uppercase;
		padding-top: 0.8rem;
	}
	a:hover {
		color: darken($downy, 15%);
	}
}

// end of menu styles
