// menu styles

.wrapperMeals {
	width: 60%;
	margin: 0 auto;
}

.wrapperMeals img {
	width: 100%;
}

.dayName {
	background: $sanmarino;
	color: white;
	text-align: left;
	padding: 20px 0 20px 20px;
	border-bottom: 1px solid white;
	a {
		float: right;
		font-size: 2.8rem;
		color: white;
		position: relative;
		right: 30px;
	}
}

.dayNameSun {
	border-bottom: none;
}

.meal {
	display: flex;
	background: white; 
}

.flex-mealImg{
	display: flex;
	width: 30%;
	padding: 10px;
}

.flex-mealInfo {
	display: flex;
	width: 70%;
	flex-direction: column;
	padding-top: 10px;
	text-align: left;
	justify-content: space-between;
	padding-bottom: 1%;
}

.recipeUrl {
	text-decoration: none;
	font-size: 3rem;
	font-family:'Quicksand', sans-serif;
	color: $sanmarino;
}

.recipeUrl:hover {
	color: darken($sanmarino, 10%);
}

.recipeIngredients {
	line-height: 2.2rem;
	padding-right: 3rem;
}

.flex-mealLinks {
	display: flex;
	justify-content: space-between;
	padding-right: 4%;
	a {
		font-size: 2rem;
		text-decoration: none;
		color: $downy;
	}
	a:hover {
		color: darken($downy, 15%);
	}
}

// end of menu styles











