// text & link styles

h1, h2, h4 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

h1 {
 	font-size: 8rem;
	letter-spacing: -0.2rem;
	text-shadow: 2px 2px white;
	color: $sanmarino;
	margin: 0;
	padding-bottom: 3%;
}

h2 {
	font-size: 3rem;
	color: white;
	margin: 0;
	padding: 2rem;
}

h3 {
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
	font-size: 3rem;
	margin: 0;
	display: inline;
}

h4 {
	color: rgba(128,128,128,1);
}

p {
	font-size: 2rem;
	line-height: 2.4rem;
}

// end of text & link styles